.env

# rpi4
rpi4/homepage/config/custom.css
rpi4/homepage/config/custom.js
rpi4/homepage/config/kubernetes.yaml
rpi4/homepage/config/logs/
rpi4/homepage/config/proxmox.yaml

rpi4/wg-easy/data/
rpi4/vaultwarden/vw-data/
rpi4/uptime-kuma/data/
rpi4/pihole/etc-pihole/
rpi4/pihole/etc-dnsmasq.d/
rpi4/nginx-proxy-manager/data/
rpi4/nginx-proxy-manager/letsencrypt
rpi4/sound-vault/data/

# n100
n100/immich/data/
