.env
plex/config/
radarr/config/
sonarr/config/
prowlarr/config/
transmission/config/

homepage/config/custom.css
homepage/config/custom.js
homepage/config/kubernetes.yaml
homepage/config/logs/

vaultwarden/vw-data/
uptime-kuma/data/
pihole/etc-pihole/
pihole/etc-dnsmasq.d/
nginx-proxy-manager/data/
nginx-proxy-manager/letsencrypt

