SSD1_DRIVE=/srv/dev-disk-by-uuid-12456789

IMMICH_VERSION=release
IMMICH_UPLOAD_PATH=$SSD1_DRIVE/immich/upload
IMMICH_DB_PATH=$SSD1_DRIVE/immich/postgres
IMMICH_DB_USERNAME=immich
IMMICH_DB_PASSWORD=changeme
IMMICH_DB_DATABASE_NAME=immich
