services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      DOMAIN: ${VAULTWARDEN_URL}
    volumes:
      - ./vw-data/:/data/
    ports:
      - 9445:80
