IP=192.168.1.100
HOMEPAGE_HOST=yourdomain.com
RPI4_SSD1_DRIVE=/srv/dev-disk-by-uuid-12456789
WG_HOST=yourdomain.duckdns.org
WG_PASSWORD_HASH=your_bcrypt_hash  # generate with: docker run --rm ghcr.io/wg-easy/wg-easy wgpw YOUR_PASSWORD
WGEASY_IP=http://$IP:51821
WGEASY_URL=https://wg.yourdomain.com
VAULTWARDEN_IP=http://$IP:9445
VAULTWARDEN_URL=https://vw.yourdomain.com
KUMA_IP=http://$IP:3001
KUMA_URL=https://kuma.yourdomain.com
KUMA_SLUG=homelab
SOUNDVAULT_IMAGE_TAG=0.1.0
SOUNDVAULT_URL=https://music.yourdomain.com
MUSIC_DIR=$RPI4_SSD1_DRIVE/sound-vault
NAVIDROME_USER=admin
NAVIDROME_PASS=changeme
SLSKD_USERNAME=your_soulseek_username
SLSKD_PASSWORD=your_soulseek_password
NPM_IP=http://$IP:81
NPM_URL=https://npm.yourdomain.com
NPM_USERNAME=admin
NPM_PASSWORD=adminpassword
PIHOLE_IP=http://$IP:9080
PIHOLE_URL=https://pihole.yourdomain.com
PIHOLE_PASSWORD=changeme
N100_IP=192.168.1.xxx
N100_SSD1_DRIVE=/srv/dev-disk-by-uuid-987654321
GLANCES_RPI4_URL=https://glances-rpi4.yourdomain.com
GLANCES_N100_URL=https://glances-n100.yourdomain.com
IMMICH_IP=http://$N100_IP:2283
IMMICH_URL=https://immich.yourdomain.com
IMMICH_API_KEY=your_immich_api_key_here
