---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/service-widgets

- resources:
    label: System
    cpu: true
    cputemp: true
    memory: true
    uptime: true

- resources:
    label: Storage
    expanded: true
    disk:
      - /
      - /mnt/ssd1
        label: SSD

- resources:
    label: Network
    network: eth0

- search:
    provider: google
    target: _blank

- datetime:
    text_size: x1
    format:
      dateStyle: short
      timeStyle: short
      hour12: true

- openmeteo:
    label: Vilnius # optional
    latitude: 54.70290466706901
    longitude: 25.1867329431094
    timezone: Europe/Vilnius # optional
    units: metric # or imperial
    cache: 5 # Time in minutes to cache API responses, to stay within limits
    format: # optional, Intl.NumberFormat options
      maximumFractionDigits: 1
